@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

* {
	/* background: #0001; */
}
@media screen and (min-width: 600px) {
	main {
		--cols: 2;
	}
}
h3 {
	margin: 10px 0 0 10px;
}
img {
	max-width: 100%;
	max-height: 100%;
}
body {
	font-family: Josefin Sans;
	line-height: 1.5em;
	width: calc(min(1200px, 100vw - 30px));
	margin: auto;
}
header {
	height: 4em;
	margin: 10px 0;
	background-color: antiquewhite;
	padding: 10px;
	border-radius: 5px;
}
main {
	min-height: calc(100vh - 140px - 2em);
	columns: var(--cols);
}
section {
	margin-bottom: 5px;
	background-color: antiquewhite;
	padding: 10px;
	border-radius: 5px;
	break-inside: avoid-column;
}
footer {
	height: 80px;
	text-align: right;
	margin: 10px 0;
	background-color: antiquewhite;
	padding: 10px;
	border-radius: 5px;
}

.icon {
	width: 80px;
	text-align: center;
}
.icon p {
	margin: .5em 0 0 0;
}

#gallery {
	position: relative;
	aspect-ratio: 4/3;
}
#gallery img {
	position: absolute;
	opacity: 0;
	transition: opacity ease-in-out .2s;
}
#gallery img.active {
	opacity: 1;
}

#quotes {
	position: relative;
}
#quotes div {
	position: absolute;
	opacity: 0;
	transition: opacity ease-in-out .2s;
}
#quotes div.active {
	opacity: 1;
}
#quotes div p:nth-of-type(1) {
	font-size: large;
}
#quotes div p:nth-of-type(2) {
	text-align: right;
}

#map {
	width: 100%;
	aspect-ratio: 4/3;
}
